/* ==UserStyle==
@name           ChatGPT Frosted Glass UI - nopeless
@namespace      github.com/nopeless/usercss-collection/chatgpt.user.css
@version        1.6.3
@description    rosted Glass UI overhaul that enhances ChatGPT UI by nopeless. Custom backgrounds and accent color supported with many more configurable options
@author         nopeless
@updateURL      https://github.com/nopeless/usercss-collection/raw/refs/heads/main/chatgpt.user.css

@var select background-image-fallback "BG - Preset" {
 "Your Name sky": "url(https://r4.wallpaperflare.com/wallpaper/94/797/206/kimi-no-na-wa-makoto-shinkai-starry-night-comet-wallpaper-89c0584d016a0d0be617288fb071564d.jpg)",
 "Your Name space": "url(https://images2.alphacoders.com/742/thumb-1920-742320.png)",
 "Re-Zero": "url(https://images4.alphacoders.com/711/711904.png)",
 "Madoka": "url(https://images2.alphacoders.com/784/thumb-1920-784533.jpg)",
 "Frieren (space)": "url(https://images3.alphacoders.com/137/thumb-1920-1376375.png)",
 "Frieren (magic)": "url(https://images6.alphacoders.com/135/thumb-1920-1355194.jpeg)",
 "Stranded Valley": "url(https://i.redd.it/smjx0oc21w0e1.png)",
 "Space": "url(https://images8.alphacoders.com/137/thumb-1920-1370824.png)",
 "No Game No Life": "url(https://picfiles.alphacoders.com/439/thumb-1920-439700.png)",
 "Gray": "gray",
 "Black": "black",
 "Navy": "#303655",
 "Pastel": "linear-gradient(-45deg, #ffb3ba, #ffdfba, #ffffba, #baffc9, #bae1ff, #d7baff)",
 "Classic": "linear-gradient(45deg,#1e1e2e,#181825,#11111b,#313244,#45475a)",
 "Default": "#3A3A3A"
}
@var text background-image        "BG - Custom"            "var(--background-image-fallback)"
@var range background-align-x     "BG - Align horizontal"  [50, 0, 100, 5, "%"]
@var range background-align-y     "BG - Align vertical"    [50, 0, 100, 5, "%"]
@var range dim-top                "BG - Dim top"           [50, 0, 100, 5, "%"]
@var range dim-bottom             "BG - Dim bottom"        [50, 0, 100, 5, "%"]

@var range glass-blur             "UI - Blur strength"         [2,  0, 10,  1, "px"]
@var range backdrop-brightness    "UI - Popup transparency"    [70, 0, 100, 5, "%"]
@var color accent-color           "UI - Accent color (light)"  "#FFFFFF"

@var text sidebar-active-bullet   "Sidebar - Selected chat icon"  "'•'"

@var range chat-horizontal-margin "Chat - Horizontal margins"  [3,  0, 5,  0.5, "rem"]
@var range chat-max-width         "Chat - Max width"           [100,  50, 200,  10, "rem"]

@var range chat-role-padding      "Message - Left/Right margin"  [4, 0, 10, 1, "rem"]
@var range reading-max-width      "Reading - Paragraph width"    [50,  10, 100,  5, "rem"]

@var color code-background-color  "Code - Background color"      "#10101040"
@var select codeblock-width       "Code - Word wrap" {
  "Wrap": "100%",
  "Scroll": "max-content"
}
@var select codeblock-fit-mode    "Code - Fit mode" {
  "Compact": "calc(var(--spacing) * 8 * 6)",
  "Paragraph": "var(--reading-max-width)",
  "Full": "100%"
}
@var text bottom-container-text   "Prompt - Text below"     "'You are loved <3'"
@var text chat-input-placeholder  "Prompt - Placeholder"    "'ask away!'"
@var range chat-input-radius      "Prompt - Border radius"  [28, 0, 28, 4, "px"]
==/UserStyle== */
@-moz-document domain("chatgpt.com") {
:root {
--blur-around-text: 2px;
/* derived properties */
--__backdrop-brightness-to-background: hsl(0, 0%, 0%, calc(40% - (100% - var(--backdrop-brightness)) / 2));

}

/* override accent colors */
[data-chat-theme="default"],
[data-chat-theme="default"] .dark {
--theme-user-msg-bg: var(--accent-color);
--theme-submit-btn-bg: var(--accent-color);
--theme-secondary-btn-bg: var(--accent-color);
--theme-entity-accent: var(--accent-color);
--theme-user-selection-bg: color-mix(in srgb, var(--accent-color), #0000);
--theme-attribution-highlight-bg: color-mix(in srgb, var(--accent-color), #0000);

}

/* restore accent pill selection */
.h-2\.5.w-2\.5.rounded-full {
background: var(--theme-secondary-btn-bg);

}

/* === ACCENT MODIFICATIONS === */
@layer utilities {
  .bg-token-text-primary\! {
    background-color: var(--theme-submit-btn-bg);
  }

  /*   user message */
  .user-message-bubble-color {
    background-color: transparent;
  }
}

/*  === BACKGROUND === */
/* remove all background */
div,
aside,
a,
button,
header,
span,
code,
/* prompt input bottom fade */
.content-fade::after,
/* settings modal background */
div[data-testid="modal-settings"] > :first-child::before {
  background: transparent !important;
}

/* force remove a few backgrounds as they are !important by site */
@layer utilities {
  .dark\:bg-\[\#303030\]\!:is(.dark *) {
    background: transparent !important;
  }

  .composer-submit-button-color {
    color: inherit;
  }
}

/*   image background */
body {
  background: linear-gradient(rgba(0, 0, 0, var(--dim-top)), rgba(0, 0, 0, var(--dim-bottom))),
  var(--background-image, var(--background-image-fallback)) no-repeat calc(100% - var(--background-align-x)) var(--background-align-y)/cover !important;
}

/* === FROSTED GLASS EFFECT === */
/* Use tailwind backdrop system for other elements */
/* clicking account button */
[data-radix-popper-content-wrapper] > div:first-child,
/* narrow mode overlap */
#stage-popover-sidebar,
/* search GPTs */
#search,
/* when selection ask chatgpt */
.btn.active\:opacity-1,
/* modal settings */
[data-testid="modal-settings"] > div,
/* modal search chats */
[data-testid="modal-fanny-pack"] > div,
/* modal new project */
[data-testid="modal-new-project-enhanced"] > div,
/* sidebar selected */
.__menu-item[data-active] {
  backdrop-filter: blur(var(--glass-blur)) brightness(var(--backdrop-brightness));
  background: transparent;
}

.popover {
  background: var(--__backdrop-brightness-to-background);
}

/* this entire section is just for search GPTs */
@layer utilities {
  div:has(> div > #search:focus),
  #search:focus {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  #search {
    background: var(--__backdrop-brightness-to-background) !important;
  }

  [data-radix-popper-content-wrapper] > div:first-child {
    background: var(--__backdrop-brightness-to-background) !important;
    /*     account for border bottom */
    top: -1px !important;
  }
}

/* === SIDEBAR === */
.__menu-item[data-active]::before {
  content: var(--sidebar-active-bullet);
}

/* === CHAT VISUAL === */
/* implement chat-max-width */
#page-header + div > div:first-child > div:last-child > div:last-child,
#thread-bottom > div:first-child {
  margin: 0 auto;
  width: 100%;
  max-width: var(--chat-max-width);
  padding-left: var(--chat-horizontal-margin);
  padding-right: var(--chat-horizontal-margin);
}

#thread-bottom > div:first-child > div:first-child {
  max-width: none;
}

/* Change chat max width */
.group\/turn-messages {
  max-width: none;
}

/* ensure margins for small screens */
article[data-turn="user"] > div {
  padding-left: var(--chat-role-padding);
  padding-right: 0;
}

article[data-turn="assistant"] > div {
  padding-right: var(--chat-role-padding);
  padding-left: 0;
}

.user-message-bubble-color {
  padding: 5px;
}

.user-message-bubble-color,
.markdown :is(p, table, .katex) {
  position: relative;
  width: fit-content;
}

/* add blur to textual elements and surrounding */
.user-message-bubble-color::before,
.markdown :is(p, table, .katex)::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  left: calc(-1 * var(--blur-around-text));
  width: calc(100% + 2 * var(--blur-around-text));
  backdrop-filter: blur(var(--glass-blur));
  border-radius: calc(2 * var(--blur-around-text));
  z-index: -1;
}

/* header consistency fix when resizing */
#page-header,
div.h-header-height.sticky {
  position: absolute;
  width: 100%;
  backdrop-filter: blur(var(--glass-blur));
}

.thread-xl\:pt-header-height {
  padding-top: 0;
}

.thread-xl\:pt-\(--header-height\) {
  padding-top: var(--header-height);
}

/* fix x scrolling caused by surround blur and a few other random things */
#page-header + div > div:first-child > div:first-child {
  overflow-x: clip;
}

/* Change horizontal margins around chat*/
.text-base {
  padding-left: var(--chat-horizontal-margin);
  padding-right: var(--chat-horizontal-margin);
}

/*   paragraph layout helpers */
.markdown :is(p, hr),
markdown td,
.user-message-bubble-color {
  max-width: var(--reading-max-width);
}

/* TABLE REWRITE */
.markdown > div[class^="_tableContainer"] {
  width: auto;
  margin-inline: 0;
  overflow-x: scroll;
}

.markdown > div[class^="_tableContainer"] > div {
  margin: 0;
}

.markdown > div[class^="_tableContainer"] > div > div.sticky {
  inset-inline-end: 0;
}

/* === MATH VISUAL === */
.katex-display {
  min-width: var(--codeblock-fit-mode);
  width: max-content;
  max-width: 100%;
  overflow-x: scroll;
}

.katex {
  margin: 0 auto;
  width: max-content;
}

/* === CODEBLOCK VISUAL === */
/* code background color */
.markdown pre .bg-token-sidebar-surface-primary,
.markdown strong > code {
  background: var(--code-background-color) !important;
}

/* allow layout calculations for code blocks */
.markdown pre > div {
  contain: none;
  backdrop-filter: blur(var(--glass-blur));
  min-width: var(--codeblock-fit-mode);
  width: max-content;
  max-width: 100%;
}

/* allow text to overflow */
.markdown pre > div:first-child > div:last-child > code {
  display: block;
  width: max-content;
  max-width: var(--codeblock-width);
}

/* increase right margin a bit for breathing room */
.markdown pre > div > div:last-child {
  padding: 0.75rem;
  padding-right: 2rem;
}

/* baseline is wrap */
.markdown pre span {
  text-wrap: wrap;
}

/* === CHAT INPUT BOX === */
/* chrome firefox disparity here */
.placeholder::after {
  content: none !important;
}

.placeholder::before {
  color: var(--text-tertiary);
  content: var(--chat-input-placeholder) !important;
}

form.group\/composer > div:last-child > div:first-child {
  border-radius: var(--chat-input-radius) !important;
}

/* remove margin overlapping issue */
.-mb-\(--composer-overlap-px\) {
  margin: 0;
}

/* change chatgpt can make mistakes message + style changes */
#thread-bottom-container > :last-child {
  padding: 0;
  min-height: 0;
}

#thread-bottom-container > :last-child > div {
  font-size: 0;
}

#thread-bottom-container > :last-child > div::before {
  font-size: 12px;
  display: block;
  text-align: center;
  line-height: 1.5rem;
  content: var(--bottom-container-text);
}

/* === UI Elements === */
/* switch circle, button */
button[aria-checked] > span,
button.btn-primary {
  background: var(--theme-entity-accent) !important;
}

/* switch and button background */
button[aria-checked] {
  background: gray !important;
}

/*   fix side panel scrolling overlap (this is the only fix) */
#history {
  overflow-y: scroll;
}

/* compact chat */
nav[aria-label="Chat history"] > :not(:last-child) {
  padding: 0;
}

#snorlax-heading {
  padding-bottom: 0.5rem;
}

#history > aside {
  margin-top: -1.5rem;
}
}
